{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <header class="container text-bg-info d-flex justify-content-end gap-3 text-bg-info pb-3 pt-3">
        <a class="btn  btn-dark" href="{{ path('app_logout') }}">Sign out</a>
    </header>
    {# {% for key => user in users %}
        <div>{{user}}</div>
    {% endfor %} #}
    {#<script>console.log({{users[0].name}})</script>#}
{% endblock %}
